@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body{
    background-color: #111111;
}


ul{
    text-align: end;
    /* line-height: 0; */

}

.li{
    display: inline-block;
    padding: 20px;
    margin-right: 20px;
    cursor: pointer;

}
.li>a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
}

.li>a:hover{
    border-bottom: 2px solid #ff9f0f;
    color: #ff9f0f;

}

nav{
    background-color: #000000;

    /* height: 100PX; */
}

#logo{
    color: #ff9f0f;
    letter-spacing: 0.3ch;
    font-family: "Abril Fatface", serif     ;
    display: inline;
    line-height: 65px;
    float: left;
    font-size: 2.2rem;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
    /* line-height: 80px; */
    
}

